@using RIS_blazor.Shared.Models
@using RIS_blazor.Shared.Models.VWModels
@using RIS_blazor.Shared.Models.ApiModel
@inject HttpClient Http

<div class="@NavMenuCssClass"  @onclick="ToggleNavMenu">
    <ul class="flex-grow-1">

        @if (menuItems == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach(MainMenuItem item in menuItems)
            {
                <li class="btn btn-dark">
                    <a href=@item.menuTo>
                        @item.menuTitle
                    </a>
                </li>
            }
        }

        <li class="dropdown btn btn-dark p-1">
            <a href="javascript:void(0)" class="dropbtn">Setting</a>
            <div class="dropdown-content">
                <a href="user">
                    Create User
                </a>
                <a href="role">
                    Create Role
                </a>
                <a href="tenant">
                    Add/Edit Tenant
                </a>
                <a href="consultant">
                    Add/Edit Consultant
                </a>
            </div>
        </li>
        <li class="btn btn-dark p-1">
            <NavLink href="/logout" class="btn btn-dark">Logout</NavLink>
        </li>
    </ul>
</div>

@code {

    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    protected List<MainMenuItem>? menuItems = new();

    protected override async Task OnInitializedAsync()
    {
        await GetMenuItems();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private bool expandSubNav;


    private async Task GetMenuItems()
    {
        menuItems = await Http.GetFromJsonAsync<List<MainMenuItem>>("Riswork/GetMenuItems");
    }
}
