@using RIS_blazor.Shared.Models
@using RIS_blazor.Shared.Models.VWModels
@using RIS_blazor.Shared.Models.ApiModel
@inject HttpClient Http

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RIS_blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (menuItems == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach(MainMenuItem item in menuItems)
            {
                <div class="nav-item py-0">
                    <NavLink class="nav-link" href=@item.menuTo>
                        <span class="oi oi-list-rich" aria-hidden="true"></span>@item.menuTitle
                    </NavLink>
                </div>
            }
        }
        <div class="nav-item py-0">
            <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                <span class="oi oi-list-plus" aria-hidden="true"></span> Setting
            </NavLink>
            @if (expandSubNav)
            {
                <NavLink class="nav-link" style="margin-top:0; margin-bottom:0;" href="user">
                    <span class="oi oi-list-man" aria-hidden="true"></span> Create User
                </NavLink>
                <NavLink class="nav-link" style="margin-top:0; margin-bottom:0;" href="role">
                    <span class="oi oi-list-man" aria-hidden="true"></span> Create Role
                </NavLink>
                <NavLink class="nav-link" style="margin-top:0; margin-bottom:0;" href="tenant">
                    <span class="oi oi-list-man" aria-hidden="true"></span> Add/Edit Tenant
                </NavLink>
                <NavLink class="nav-link" style="margin-top:0; margin-bottom:0;" href="consultant">
                    <span class="oi oi-list-man" aria-hidden="true"></span> Add/Edit Consultant
                </NavLink>
            }
        </div>
    </nav>
</div>

@code {

    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    protected List<MainMenuItem>? menuItems = new();

    protected override async Task OnInitializedAsync()
    {
        await GetMenuItems();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private bool expandSubNav;


    private async Task GetMenuItems()
    {
        menuItems = await Http.GetFromJsonAsync<List<MainMenuItem>>("Riswork/GetMenuItems");
    }
}
