@page "/login"
@using RIS_blazor.Shared.Models
@using RIS_blazor.Shared.Models.VWModels
@using RIS_blazor.Shared.Models.ApiModel
@using RIS_blazor.Shared.Repositories
@inject NavigationManager NavigationManager
@inject HttpClient Http


<div class="d-flex justify-content-center card">
    <h4 class="card-header">Login</h4>
    <div class="row card-body">
        <div class="col-5 p-4">
            <img src="img/Emis_Slide.jpg"/>
        </div>
        <div class="col-1"></div>
        <div class="col-5 p-4">
            <EditForm Model="@loginInfo" OnValidSubmit="CheckLogin">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Username</label>
                    <InputText @bind-Value="loginInfo.userName" class="form-control" />
                    <ValidationMessage For="@(() => loginInfo.userName)" />
                </div>

                <br />

                <div class="form-group">
                    <label>Password</label>
                    <InputText @bind-Value="loginInfo.password" type="password" class="form-control" />
                    <ValidationMessage For="@(() => loginInfo.password)" />
                </div>

                <br />

                <div class="d-flex justify-content-center">
                    <button disabled="@loading" type="submit" class="btn btn-primary">
                        @if (loading)
                        {
                            <span class="spinner-border spinner-border-sm mr-1"></span>
                        }
                        Login
                    </button>
                    <NavLink href="/register" class="btn btn-link">Register</NavLink>
                </div>

                <br />
                <hr />
                <br />

                <div class="text-center">
                    <NavLink href="/forget">
                    Forgot Password ?
                    </NavLink>
                    <br />
                    <p>Please contact support for password recovery</p>
                </div>

                <div class="text-center">
                    <h3>NEED HELP?</h3>
                    <p>
                    Please Contact us regarding any issues related to the report
                    01811383839, 01788320633, 01766943020.
                    </p>
                    <br />
                    <p class="fs-5">Email: emedicalbd2014@gmail.com</p>
                </div>
            </EditForm>
        </div>
    </div>

</div>

@code {
    private LoginInfo loginInfo = new();
    private bool loading;
    public class LoginInfo
    {
        public string userName{ get; set; }
        public string password{ get; set; }
    }

    protected override async Task OnInitializedAsync()
    {

    }

    private async Task CheckLogin()
    {
        loading = true;
        string strloginInfo = $"userName={loginInfo.userName}&password={loginInfo.password}";
        string result;
        result = await Http.GetFromJsonAsync<String>("Riswork/Login?" + strloginInfo);
        if(result != null)
        {
            NavigationManager.NavigateTo("/", true);
        }
        else
        {
            NavigationManager.NavigateTo("/login", true);
        }
    }
}
